.DS_Store

*.class


dependency-reduced-pom.xml

#Ignore IntelliJ IDEA project files
.idea/
*.iml
*.ipr
*.iws

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*